<div class="container">
	<div class="row">
		<div class="col-md-12">

        	<!-- <carousel interval="MyInterval">
        		<div>
	            
	            	<slide ng-repeat="slide in Slides" active="slide.active">
					
		            	<div class="carousel-caption">
		              		<h1 class="carousel-text">{{slide.Text}}</h1>
		            	</div>
		          	
	            	</slide>
	            </div>	
          	</carousel> -->


  			<div id="main-slider">
    			<div style="background-image: url('../images/slider1.jpg');" class="item">
      				<div class="content">
				        <h3>The one and Only</h3>
				        <h1>Hipster E-commerce Theme</h1>
				        <p><img src="../images/logo-white-small.png" alt="" class="img-responsive"></p>
      				</div>
   	 			</div>
    			<!-- <div style="background-image: url('../images/slider2.jpg');" class="item">
      				<div class="content">
				        <h3>10 Pages Included</h3>
				        <h3>Fully Responsive</h3>
				        <h3>Based on Bootstrap 3.3</h3>
				        <h3>Less files included in the download</h3>
      				</div>
    			</div>
    			<div style="background-image: url('../images/slider3.jpg');" class="item">
      				<div class="content"> 
				        <h3>And much more!</h3>
				        <p><img src="../images/logo-white-small.png" alt="" class="img-responsive"></p>
      				</div>
    			</div>
  			</div> -->
  			<!-- /#main-slider-->

		</div>
	</div>
</div>
<div class="container">
	<section>
		<div class="row">
  			<div class="col-sm-6"><a href="#"><img src="../images/promobox-item-1.jpg" alt="" class="img-responsive"></a></div>
  			<div class="col-sm-6"><a href="#"><img src="../images/promobox-item-2.jpg" alt="" class="img-responsive"></a></div>
		</div>
	</section>
	<section>
		<div class="row">
 			<div class="col-md-12">
    			<div class="heading">
      				<h4>Trending this month</h4>
    			</div>
  			</div>
		</div>
		<div class="row products">
  			<div class="col-md-3 col-sm-6">
    			<div class="product">
      				<div class="image"><a href="#"><img src="../images/product2.jpg" alt="" class="img-responsive"></a>
        				<div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
      				</div>
      				<div class="text">
        				<h3> <a href="detail.html">Fur coat</a></h3>
        				<p class="price">$143             </p>
      				</div>
    			</div>
  			</div>
  			<div class="col-md-3 col-sm-6">
    			<div class="product">
      				<div class="image"><a href="#"><img src="../images/product3.jpg" alt="" class="img-responsive"></a>
        				<div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
      				</div>
      				<div class="text">
        				<h3> <a href="detail.html">Fur coat</a></h3>
        				<p class="price">$113             </p>
      				</div>
    			</div>
  			</div>
  			<div class="col-md-3 col-sm-6">
    			<div class="product">
     				<div class="image"><a href="#"><img src="../images/product1.jpg" alt="" class="img-responsive"></a>
        				<div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
      				</div>
      				<div class="text">
        				<h3> <a href="detail.html">Fur coat</a></h3>
        				<p class="price">$121             </p>
      				</div>
    			</div>
  			</div>
 			<div class="col-md-3 col-sm-6">
    			<div class="product">
      				<div class="image"><a href="#"><img src="../images/product4.jpg" alt="" class="img-responsive"></a>
        				<div class="quick-view-button"><a href="#" data-toggle="modal" data-target="#product-quick-view-modal" class="btn btn-default btn-sm">Quick view</a></div>
      				</div>
      				<div class="text">
        				<h3> <a href="detail.html">Fur coat</a></h3>
        				<p class="price">$121             </p>
      				</div>
    			</div>
  			</div>
		</div>
	</section>
	<section>
		<div class="row">
  			<div class="col-md-12">
    			<div class="heading">
      				<h4>From our blog</h4>
    			</div>
    			<p class="text-center text-muted">What's new in the world of fashion? Check out our blog!</p>
  			</div>
		</div>
		<div id="blog-homepage" class="row">
  			<div class="col-sm-6">
    			<div class="post">
      				<div class="image"><img src="../images/blog.jpg" alt="" class="img-responsive"></div>
      				<h4><a href="#">Fashion now</a></h4>
      				<p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      				<p class="read-more"><a href="#" class="btn btn-primary">Continue reading</a></p>
    			</div>
  			</div>
	  		<div class="col-sm-6">
	    		<div class="post">
	      			<div class="image"><img src="../images/blog2.jpg" alt="" class="img-responsive"></div>
	      			<h4><a href="#">Fashion now</a></h4>
	      			<p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	      			<p class="read-more"><a href="#" class="btn btn-primary">Continue reading</a></p>
	    		</div>
	  		</div>
		</div>
	</section>
	<!-- quick view modal box-->
	<div id="product-quick-view-modal" tabindex="-1" role="dialog" aria-hidden="false" class="modal fade">
		<div class="modal-dialog modal-lg">
  			<div class="modal-content">
    			<div class="modal-body">
      				<button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
      				<div class="row quick-view product-main">
        				<div class="col-sm-6">
          					<div class="quick-view-main-image"><img src="../images/detailbig1.jpg" alt="" class="img-responsive"></div>
          					<div class="ribbon ribbon-quick-view sale">
            					<div class="theribbon">SALE</div>
            					<div class="ribbon-background"></div>
          					</div>
          					<!-- /.ribbon-->
         					<div class="ribbon ribbon-quick-view new">
            					<div class="theribbon">NEW</div>
            					<div class="ribbon-background"></div>
          					</div>
          					<!-- /.ribbon-->
          					<div class="row thumbs">
            					<div class="col-xs-4"><a href="../images/detailbig1.jpg" class="thumb"><img src="../images/detailsmall1.jpg" alt="" class="img-responsive"></a></div>
            					<div class="col-xs-4"><a href="../images/detailbig2.jpg" class="thumb"><img src="../images/detailsmall2.jpg" alt="" class="img-responsive"></a></div>
           						<div class="col-xs-4"><a href="../images/detailbig3.jpg" class="thumb"><img src="../images/detailsmall3.jpg" alt="" class="img-responsive"></a></div>
          					</div>
        				</div>
        				<div class="col-sm-6">
          					<h2 class="product__heading">Burton Jacky Shirt</h2>
          					<p class="text-muted text-small text-center">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut...</p>
          					<div class="box">
            					<form>
              						<p class="price">$124.00</p>
              						<div class="row">
                						<div class="col-md-6 col-md-offset-3">
                  							<div class="form-group">
                    							<label for="modal_size">Choose your size</label>
                    							<select id="modal_size" class="form-control">
                      								<option>Small</option>
                      								<option>Medium</option>
                    							</select>
                  							</div>
                  							<div class="form-group">
							                    <label for="modal_quantity">Quantity</label>
							                    <input type="number" value="1" id="modal_quantity" class="form-control">
                  							</div>
                						</div>
              						</div>
              						<p class="text-center">
						                <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</button>
						                <button type="submit" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-default"><i class="fa fa-heart-o"></i></button>
              						</p>
            					</form>
          					</div>
          					<!-- /.box-->
          					<div class="quick-view-social">
            					<h4>Show it to your friends</h4>
            					<p><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
          					</div>
       					</div>
      				</div>
    			</div>
  			</div>
		</div>
		<!-- /.modal-dialog-->
	</div>
	<!-- /.modal-->
	<!-- /quick view modal box-->
</div>
