<div ng-controller="ProductController as Product">
	<div class="panel panel-default padded-panel" ng-show="Admin.Tab === 2">
		<h4 class="admin-h4">Products</h4>
		<div class="add-button col-md-1 col-md-offset-11" ng-show="Product.DisplayMode === 'list'">
	    <button class="btn btn-success" ng-click="Product.AddProduct()">
	       <span class="glyphicon glyphicon-plus"></span>
	    </button>
		</div>
		<table class="table table-hover" ng-show="Product.DisplayMode === 'list'">
			<thead>
				<tr>
					<th>Title</th>
					<th>Price</th>
					<th>Size</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in Product.Products track by $index">
					<td>{{product.Title}}</td>
					<td>{{product.Price}}</td>
					<td>{{product.Size}}</td>
					<td><button type="button" class="btn btn-warning" ng-click="Product.EditProduct(product. $index)"><span class="glyphicon glyphicon-pencil"></span></button></td>
					<td><button type="button" class="btn btn-danger" ng-click="Product.DeleteProduct(product, $index)"><span class="glyphicon glyphicon-trash"></span></button></td>
				</tr>
			</tbody>
		</table>
		<div ng-show=" Product.DisplayMode == 'edit' || Product.DisplayMode == 'create' ">
			<form name="Product.ProductForm" class="validated-form">
				<br />
				<div class="row">
					<div class="col-md-1">
						<label class="control-label">Title</label>
					</div>
					<div class="col-md-9">
						<input name="title" type="text" class="custom-validate form-control" placeholder="Product.Title" ng-model="Product.Title" ng-minlength="10" />
					</div>
					<div class="col-md-1">
						<label class="control-label">Price</label>
					</div>
					<div class="col-md-1">
						<input name="price" type="text" class="custom-validate form-control" placeholder="Enter in a comma after each type" ng-model="Product.Price" ng-minlength="2" />
					</div>
				</div><br />
				<div class="row">
					<div class="col-md-1">
						<label class="control-label">Size</label>
					</div>
					<div class="col-md-2">
						<input type="text" name="size" class="form-control" ng-model="Product.Size" required />
					</div>
				</div>
				<br />
				<div class="col-md-offset-9">
	        <button type="button" class="btn btn-default" ng-click="Product.BackToProducts()">Cancel</button>
	        <button ng-show=" Product.DisplayMode == 'edit' " type="submit" class="btn btn-primary" ng-disabled="!Product.ProductForm.$valid" ng-click="Product.UpdateProduct()">Update</button>
	        <button ng-show=" Product.DisplayMode == 'create' " type="submit" class="btn btn-primary" ng-disabled="Product.ProductForm.$invalid || Product.ProductForm.title.$pristine || Product.ProductForm.price.$pristine" ng-click="Product.CreateNewProduct()">Create</button>
		    </div>
			</form>	
			<br />
		</div>	
	</div>
</div>